.about-us
	background-color: #f06c5f
	color: #ffffff
	text-align: center
	&__head
		position: relative
		padding-top: 94px 
		font-size: em(20)
		+GP_b
		text-transform: uppercase
		margin-bottom: 41px
		&:before
			content: ""
			+vcenter
			top: 18px 
			+s(logo-m) 
	&__title
		font-size: em(25)
		line-height: 1.2 
		padding: 57px
		border-top: 3px solid #d65346
		border-bottom: 3px solid #d65346
	&__info
		+clr
		margin-top: 55px 
		&_left
			float: left
			max-width: 48%
			margin-left: 14px 
		&_right
			float: right
			margin-right: -5px 
			max-width: 49%
	&__text
		font-size: em(15)
		line-height: em(25, 15) 
		text-align: left
	&__items
		+clr
		width: 100% 
		font-size: 0
		margin-bottom: 100px
		margin-top: 63px 
	.start
		background-color: #de5a4d
		span
			color: #fff
.item
	display: inline-block
	width: 25% 
	min-width: 160px
	margin: 10px 0  
	&__photo
		border-radius: 50% 
		border: 5px solid #fff
		box-sizing: border-box 
		max-width: 150px 
		max-height: 150px 
	&__name
		margin-top: 30px 
		font-size: 17px
		+GP_m
	&__position
		color: #ffbc64
		font-size: 13px
		margin-top: 2px 
		margin-bottom: 22px 
	&__links
	&__link
		margin: 0 2px 
		display: inline-block
		&:hover
			filter: drop-shadow(0 0 5px#fdb352) 
		&.linked-in
			+s(linked-in)
		&.email
			+s(email)

+r(801)
	.about-us
		&__head
			padding-top: 64px 
			margin-bottom: 21px
		&__title
			padding: 25px
		&__info
			margin-top: 15px 
		&__text
			max-width: 100% 
			float: none
		&__items
			margin-bottom: 20px
			margin-top: 13px 
+r(600)
	.about-us__title
		font-size: 1.2em