=theme_text
  color: #777f84
  font-size: 0.9375em
=theme_title
  position: relative
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  text-align: center
  line-height: 3em 
  &:before
    content: "" 
    display: block
    position: absolute
    left: 47.7% 
    top: 10%
    +s(features_header)
    opacity: 0.2

body
  background: #FFF
  font-size: 16px
  line-height: 1.4
  font-weight: 400 
  +font(Gotham Pro, GothamProRegular)
  +font(Gotham Pro, GothamProMedium)
  +font(Gotham Pro, GothamProBold)
  +font(Gotham Pro, GothamPro)
  font-family: "Gotham Pro" 
.wrapper
	max-width: 960px
	margin: 0 auto
	padding: 0 12px 
  +clr
.button
  width: 227px
  height: 57px
  border: 3px solid #fdb352
  background-color: rgba(185, 53, 99, 0)
  text-transform: uppercase
  color: #fff 