body
  background: #FFF
  font-size: 16px
  line-height: 1.4
  font-weight: 400 
  +font(Gotham Pro, GothamProRegular)
  +font(Gotham Pro, GothamProMedium)
  +font(Gotham Pro, GothamProBold)
  +font(Gotham Pro, GothamPro)
  font-family: "Gotham Pro" 
.wrapper
	max-width: 960px
	margin: 0 auto
	padding: 0 12px 

.button
  width: 227px
  height: 57px
  border: 3px solid #fdb352
  background-color: rgba(185, 53, 99, 0)
  text-transform: uppercase