+font("GothamProMedium", GothamProMedium)
=GP_m
  font-family: GothamProMedium, sans-serif 
+font("GothamProBold", GothamProBold)
=GP_b
  font-family: GothamProBold, sans-serif 
+font("GothamPro", GothamPro)
=GP
  font-family: GothamPro, sans-serif 

=theme_text
  color: #777f84
  font-size: em(15)
  line-height: em(25, 15) 
=theme_title
  position: relative
  display: block
  text-align: center
  font-size: em(20)
  +GP_b
  text-transform: uppercase
  line-height: 3em 
  &:before
    content: "" 
    display: block
    +vcenter
    +s(icon-title)
    opacity: 0.2

html
  font-size: 100%

body
  background: #FFF
  +GP
  font-size: 100%
  line-height: 1.2em
  font-weight: 400 


a
  text-decoration: none
  &:hover
    text-decoration: underline
.wrapper
	max-width: 960px
	margin: 0 auto
	padding: 0 12px 
  +clr
.button
  width: 227px
  height: 57px
  border: 3px solid #fdb352
  background-color: rgba(185, 53, 99, 0)
  text-transform: uppercase
  color: #fff
  +GP_b
  font-size: em(15)
  transition: 0.4s
  &:hover
    border-radius: 5px 
    border-color: transparent
    background-color: rgba(185, 53, 99, 0.8)
    filter: drop-shadow(-1px 1px 3px #000)

+r(680)
  .button
    width: auto
    height: auto
    padding: 10px 

