.demo-acc
	margin-top: 220px
	color: #FFF 
	width: 61% 
	&__title
		font-size: 3.75em
		font-weight: 700
		line-height: 1.09em
	&__text
		margin-right: 140px 
		margin-top: 42px 
		font-size: 1.0625em
		line-height: 1.5625em
	&__button
		margin-top: 55px 
		color: #fff 
		font-size: 0.875em
		font-weight: 700
		text-transform: uppercase