.features
	position: relative
	border-bottom: 1px solid #ddd 
	+clr
	&__header
		+theme_title
		margin-top: 79px 
	&__text
		+theme_text
	&__header + &__text
		max-width: 518px
		margin: 13px auto 0
		text-align: center
		line-height: 1.3em 
	&__inner
		position: relative
		max-height: 500px 
		+clr
		&:not(:last-child)
			border-bottom: 1px solid #ddd
		&.to_left
			.features__picture
				float: left
			.features__block
				float: right
	&__picture
		float: right
		margin: 100px 0 
		height: 300px 
		width: 55%
	&__img
		max-width: 100%
		max-height: 100% 
		position: relative
		top: 50%
		left: 50% 
		transform: translate(-50%, -50%) 
	&__block
		float: left
		max-width: 41%
		margin-top: 120px 
	&__title
		color: #627787
		font-size: em(17)
		+GP_m
		text-transform: uppercase
		margin-bottom: 35px
	&__link
		display: block
		margin-top: 26px 
		color: #f06c5f
		font-size: em(14)
		+GP_m
		text-transform: uppercase

+r(801)
	.features__header
		margin-top: 15px 
	.features__picture
		margin: 30px 0 
	.features__block
		max-width: 40%
		margin-top: 40px 
		margin-bottom: 40px 
	.features__header + .features__text
		max-width: 90%
+r(500)
	.features
		&__picture
			height: 200px 
			float: none
			width: 100%
			margin: 10px auto  
		&__block
			float: none
			max-width: 100%
			margin: 20px 0
		&__title
			margin-bottom: 10px
		&__link
			margin-top: 14px
		&__inner.to_left
			.features__picture
				float: none
			.features__block
				float: none

