.features
	position: relative
	border-bottom: 1px solid #ddd 
	&__header
		+theme_title
		margin-top: 79px 
	&__text
		+theme_text
	&__header + &__text
		max-width: 518px
		margin: 13px auto 0
		text-align: center
		line-height: 1.3em 
	&__inner
		+clr
		border-top: 1px solid transparent 
		background-position: right top 44% 
		background-repeat: no-repeat 
		background-size: 45%
		&:not(:last-child)
			border-bottom: 1px solid #ddd
		&:nth-child(2n) 
			background-position: left top 44% 
			.features__block
				float: right
		&.bg-1
			background-image: url(../img/smart-tds.png)
		&.bg-2
			background-image: url(../img/cpi-cpc.png)
		&.bg-3
			background-image: url(../img/adrotator.png)
		&.bg-4
			background-image: url(../img/source-tracking.png)
		&.bg-5
			background-image: url(../img/offer-checker.png)
	&__block
		max-width: 41%
		margin-top: 111px 
		margin-bottom: 120px 
	&__title
		color: #627787
		font-size: em(17)
		+GP_m
		text-transform: uppercase
		margin-bottom: 35px
	&__link
		display: block
		margin-top: 26px 
		color: #f06c5f
		font-size: em(14)
		+GP_m
		text-transform: uppercase

+r(801)
	.features__header
		margin-top: 15px 
	.features__block
		max-width: 40%
		margin-top: 40px 
		margin-bottom: 40px 
	.features__header + .features__text
		max-width: 90%

+r(500)
	.features
		&__block
			max-width: 44%
			margin-top: 20px 
			margin-bottom: 20px 
		&__title
			margin-bottom: 10px
		&__link
			margin-top: 14px 

+r(425)
	.features
		&__block
			max-width: 60%
		&__inner
			background-size: 40%

+r(400)
	.features
		&__block
			max-width: 100%
		&__inner
			margin-top: 10px 
			padding-top: 110px 
			background-size: 70%
			background-position: center top 
			&:nth-child(2n)
				background-position: center top
			&.bg-1 .features__block 
				margin-top: 0