.footer
	background-color: #F7F8F9 
	height: 100%
	padding: 20px 0 144px
	+clr
	&__copyright
		margin-top: 8px 
		// float: left
		color: #777f84
		font-size: 13px
		line-height: 40px
	&__social
		float: right
	&__link
		display: inline-block
		&.fb
			+s(facebook)
		&.in
			+s(link-in)

+r(900)
	.footer
		padding: 10px 0