.global
	position: relative
	max-width: 100%
	&__map
		color: #fff 
		text-align: center
		position: relative
	&__title
		margin-top: 24px 
		margin-bottom: 46px 
		font-size: 1.9375em
		text-transform: uppercase
	&__text
		margin: 0 auto 
		max-width: 775px 
		color: #a0bcd3
		font-size: 0.9375em
		line-height: 1.4em
	&__company
		position: relative
		.company
			position: absolute
			display: inline-block
			border-radius: 50%
			box-shadow: 0 0 0 15px rgba(98, 119, 135, 0.1)
			border: 5px solid #627787
			background-color: #1c2932
			margin: 35px
			&__logo
				+vcenter
			&:hover
				box-shadow: 0 0 0 15px rgba(205, 66, 54, 0.1)
				border: 5px solid #a0294c
		.company1
			width: 297px
			height: 297px 
			top: 162px
			left: 30.9%
		.company2
			width: 94px
			height: 95px
			top: 160px
			left: 11.2%  
		.company3
			width: 132px 
			height: 132px 
			left: 68.3%
			top: 167px  
		.company4
			width: 148px 
			height: 148px 
			top: 365px
			left: 9.5% 
		.company5
			width: 127px 
			height: 127px 
			top: 362px 
			left: 80.5%
		.company6
			width: 92px 
			height: 92px 
			top: 444px 
			left: 62.5%
	&__start
		margin-top: 589px
		background-color: #19252e
.start
	width: 100% 
	padding:  60px 0
	color: #fff 
	+clr
	&__text
		font-size: 1.1875em
		span
			color: #7e97aa
			font-weight: 500
	&__button
		float: right
		margin-left: 200px 

+r(860)
	.global__title
		margin-top: 5px 
		margin-bottom: 10px 
		font-size: 1.4em
	.global__start
		margin-top: 389px
	.start
		width: 100% 
		padding:  30px 0
		&__button
			margin-left: 20px 
+r(680)
	.start__text
		font-size: 1em 
+r(601)
	.global__start
		margin-top: 289px
	.global__text
		font-size: 0.8em
+r(520)
	.start__text
		font-size: 0.9em 

+r(440)
	.global__start
		margin-top: 200px
	.start
		padding: 10px 0
		&__button
			margin-top: 7px 
+r(390)
	.global__start
		margin-top: 0
	.global__map
		margin-bottom: 200px
+r(345)
	.global__map
		margin-bottom: 150px
	.global__title
		font-size: 1.2em
	.start__button
		float: none
		margin: 0 auto 
		// margin-left: 200px 