.global
	position: relative
	max-width: 100%
	&__map
		color: #fff 
		text-align: center
		position: relative
	&__title
		margin-top: 25px 
		margin-bottom: 48px 
		font-size: em(31)
		text-transform: uppercase
	&__text
		margin: 0 10px 
		color: #a0bcd3
		font-size: em(15)
		line-height: em(25, 15)
	&__company
		position: relative

	&__start
		margin-top: 588px
		background-color: #19252e
.start
	width: 100% 
	padding:  10px 0
	color: #fff 
	+clr
	&__text
		margin: 50px 0
		font-size: em(19)
		line-height: 1.5em 
		span
			color: #7e97aa
			+GP_m
	&__button
		float: right
		margin-left: 100px 

+r(860)
	.global__title
		margin-top: 5px 
		margin-bottom: 10px 
		font-size: 1.4em
	.global__start
		margin-top: 389px
	.start
		width: 100% 
		&__text
			margin: 10px 0
		&__button
			margin-left: 5px 
+r(680)
	.global__start
		margin-top: 310px
	.start__text
		font-size: 1em 
		
+r(610)
	.global__text
		font-size: 0.8em
+r(520)
	.start__text
		font-size: 0.9em 

+r(440)
	.global__start
		margin-top: 200px
	.start
		padding: 10px 0
		&__button
			margin-top: 7px 
+r(390)
	.global__start
		margin-top: 0
	.global__map
		margin-bottom: 200px
+r(345)
	.global__title
		font-size: 1.2em
	.start__button
		float: right