---
title: Kingping
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- BEGIN top -->
	<div class="top">
		<!-- BEGIN top__inner -->
		<div class="top__inner">
			<div class="wrapper">
				{% include "partials/_header.html" %}
				{% include "partials/_demo_acc.html" %}
			</div>
		</div>
		<!-- END top__inner -->
		<!-- BEGIN bottom__inner -->
		<div class="bottom__inner">
				{% include "partials/_global_market.html" %}
		</div>
		<!-- END bottom__inner -->
	</div>
	<!-- END top -->
	<!-- BEGIN features -->
	<div class="features">
		<!-- BEGIN wrapper -->
		<div class="wrapper">
			{% include "partials/_features.html" %}
		</div>
		<!-- END wrapper -->
	</div>
	<!-- END features -->
	<!-- BEGIN Pricing -->
	<div class="pricing">
		<!-- BEGIN wrapper -->
		<div class="wrapper">
			{% include "partials/_pricing.html" %}
		</div>
		<!-- END wrapper -->
	</div>
	<!-- END Pricing -->
	<!-- BEGIN customers -->
	<div class="customers">
		{% include "partials/_customers.html" %}
	</div>
	<!-- END customers -->
	<!-- BEGIN about-us -->
	<div class="about-us">
		{% include "partials/_about_us.html" %}
	</div>
	<!-- END about-us -->
{% endblock %}
