<!-- BEGIN wrapper -->
<div class="wrapper">
	<div class="about-us__head">About us</div>
	<div class="about-us__title">Kingping is a global performance marketing network delivering worldwide quality traffic on a large scale</div>
	<div class="about-us__info">
		<div class="about-us__info_left">
			<p class="about-us__text">Thankfully, times have changed and I now love tomatoes, though I still prefer roasted to raw. (And I’m that weird adult who sometimes still puts ketchup on her scrambled eggs). In the summertime, I especially like making BLATs and BLT salads with fat, juicy farmers’ market tomatoes. And roasting up little cherry tomatoes to top our pasta.</p>
		</div>
		<div class="about-us__info_right">
			<p class="about-us__text">So for anyone else with some freshly-picked tomatoes ready to use up right now, we have a delicious recipe roundup of recipes that are sure to provide some tasty inspiration. From two vastly different gazpachos, to stuffed tomatoes, to a bloody Mary (with bacon!)!</p>
		</div>
	</div>
	<!-- BEGIN about-us__items -->
	<div class="about-us__items">
		<!-- BEGIN about-us__item 1-->
		<div class="about-us__item item">
			<img src="img/stewart.png" alt="stewart" class="item__photo">
			<div class="item__name">Cameron Stewart</div>
			<div class="item__position">General Manager</div>
			<div class="item__links">
				<a href="#" class="item__link icon-linked-in"></a>
				<a href="#" class="item__link icon-email"></a>
			</div>
		</div>
		<!-- END about-us__item -->
		<!-- BEGIN about-us__item 2-->
		<div class="about-us__item item">
			<img src="img/powell.png" alt="powell" class="item__photo">
			<div class="item__name">Cody Powell</div>
			<div class="item__position">Engineering Manager</div>
			<div class="item__links">
				<a href="#" class="item__link icon-linked-in"></a>
				<a href="#" class="item__link icon-email"></a>
			</div>
		</div>
		<!-- END about-us__item -->
		<!-- BEGIN about-us__item 3-->
		<div class="about-us__item item">
			<img src="img/tobey.png" alt="tobey" class="item__photo">
			<div class="item__name">David Tobey</div>
			<div class="item__position">Director of Customer Service</div>
			<div class="item__links">
				<a href="#" class="item__link icon-linked-in"></a>
				<a href="#" class="item__link icon-email"></a>
			</div>
		</div>
		<!-- END about-us__item -->
		<!-- BEGIN about-us__item 4-->
		<div class="about-us__item item">
			<img src="img/hearron.png" alt="hearron" class="item__photo">
			<div class="item__name">Patrick Hearron</div>
			<div class="item__position">Director of Sales</div>
			<div class="item__links">
				<a href="#" class="item__link icon-linked-in"></a>
				<a href="#" class="item__link icon-email"></a>
			</div>
		</div>
		<!-- END about-us__item -->
	</div>
	<!-- END about-us__items -->
</div>
<!-- END wrapper -->
<!-- BEGIN start -->
<div class="start">
	<div class="wrapper">
		<button class="button start__button">get started!</button>
		<div class="start__text"><span>Kingping</span> is a global performance marketing network delivering worldwide quality traffic on a large scale. </div>
	</div>
</div>
<!-- END start -->