<!-- BEGIN contacts__headline headline-->
<div class="contacts__headline headline">
	<h2 class="headline__title">Contacts</h2>
	<div class="headline__text">Kingping is a global performance marketing network delivering
worldwide quality traffic on a large scale</div>
</div>
<!-- END contacts__headline headline -->
<!-- BEGIN contacts__inner -->
<div class="contacts__inner">
	<div class="contacts__communications">
		<a href="#" class="contacts__link">Email: <span>support@kingping.com</span></a>
		<a href="#" class="contacts__link">Skype: <span>kingping</span></a>
	</div>
	<div class="contacts__addres">Our address: 
		<span>Suite 1, 5th Percy street, Fitzrovia London, UK W1T 1DG</span> 
	</div>


</div>
<!-- END contacts__inner -->
<!-- BEGIN contacts__inner phones -->
<div class="contacts__inner phones">
	<div class="phone">
		<div class="phone__title">Phone US</div>
		<div class="phone__number">+1-212-290-4700</div>
	</div>
	<div class="phone">
		<div class="phone__title">Phone UK</div>
		<div class="phone__number">+1-212-290-4700</div>
	</div>
	<div class="phone">
		<div class="phone__title">Phone UA</div>
		<div class="phone__number">+38-067-290-4700</div>
	</div>
</div>
<!-- END contacts__inner phones -->
<!-- BEGIN contacts__inner -->
<div class="contacts__inner">
	<form action="#" method="post" class="contacts__form">
		<input class="contacts__input" type="text" placeholder="Name *">
		<input class="contacts__input" type="text" placeholder="E-mail *">
		<input class="contacts__input" type="text" placeholder="Subject">
		<input class="contacts__input" type="text" placeholder="Message">

		<button class="button pricing__button">send message</button>
	</form>
</div>
<!-- END contacts__inner -->