<!-- BEGIN customers__headline headline-->
<div class="customers__headline headline">
	<h2 class="headline__title">our Customers</h2>
	<div class="headline__text">Kingping is a global performance marketing network delivering
worldwide quality traffic on a large scale</div>
</div>
<!-- END customers__headline headline -->
<!-- BEGIN customers__company --> 
<div class="customers__company">
	<!-- BEGIN company 1-->
	<div class="company">
		<a href="#" class="company__logo"><img src="img/Mobiheads-big.png" class="company__img"></a>
		<div class="company__about">Add custom tracking to your emails, including opens, clicks, and automatic Google Analytics parameters. View and filter stats on bounces, opens, clicks, and spam complaints. Then, use that information to tweak your content and triggers.</div>
		<div class="company__ceo ceo">
			<a class="ceo__link" href="#">
				<img src="img/jonson.png" class="ceo__photo">
				<div class="ceo__name">John Johnson</div>
				<div class="ceo__comp">Mobiheads CEO</div>
			</a>
		</div>
	</div>
	<!-- END company -->
	<!-- BEGIN company 2-->
	<div class="company">
		<a href="#" class="company__logo"><img src="img/mobinazer-big.png" class="company__img"></a>
		<div class="company__about">Add custom tracking to your emails, including opens, clicks, and automatic Google Analytics parameters. View and filter stats on bounces, opens, clicks, and spam complaints. Then, use that information to tweak your content and triggers.</div>
		<div class="company__ceo ceo">
			<a class="ceo__link" href="#">
				<img src="img/zinger.png" class="ceo__photo">
				<div class="ceo__name">Marla Zinger</div>
				<div class="ceo__comp">Mobinizer CEO</div>
			</a>
		</div>
	</div>
	<!-- END company -->
	<!-- BEGIN company 3-->
	<div class="company">
		<a href="#" class="company__logo"><img src="img/convertlab-big.png" class="company__img"></a>
		<div class="company__about">Add custom tracking to your emails, including opens, clicks, and automatic Google Analytics parameters. View and filter stats on bounces, opens, clicks, and spam complaints. Then, use that information to tweak your content and triggers.</div>
		<div class="company__ceo ceo">
			<a class="ceo__link" href="#">
				<img src="img/bridges.png" class="ceo__photo">
				<div class="ceo__name">Carl Bridges</div>
				<div class="ceo__comp">Mobiheads CEO</div>
			</a>
		</div>
	</div>
	<!-- END company -->
	<!-- BEGIN company 4-->
	<div class="company">
		<a href="#" class="company__logo"><img src="img/kronetads-big.png" class="company__img"></a>
		<div class="company__about">Add custom tracking to your emails, including opens, clicks, and automatic Google Analytics parameters. View and filter stats on bounces, opens, clicks, and spam complaints. Then, use that information to tweak your content and triggers.</div>
		<div class="company__ceo ceo">
			<a class="ceo__link" href="#">
				<img src="img/cooper.png" class="ceo__photo">
				<div class="ceo__name">Bradley Cooper</div>
				<div class="ceo__comp">Mobinizer CEO</div>
			</a>
		</div>
	</div>
	<!-- END company -->
</div>
<!-- END customers__company -->

<button class="button customers__button">Tell Us your Story</button>