<h2 class="events__header">Events</h2>
<!-- BEGIN slider -->
<div class="slider">

	<!-- BEGIN slider__item -->
	<div class="slider__item">
		<div class="events__line"><div class="dot"></div></div>
		<!-- BEGIN events__item -->
		<div class="events__item">
			<div class="events__date">
				<div class="events__month">February 25-27</div>
				<div class="events__year">2016</div>
			</div>
			<div class="events__box"><img class="events__img" src="img/etrail.png" alt="etrail"></div>
			<h4 class="events__title">Mobile World Congress</h4>
			<div class="events__about">Facebook launches live streaming so you can engage with celebrities</div>
		</div>
		<!-- END events__item -->
	</div>
	<!-- END slider__item -->


	<!-- BEGIN slider__item -->
	<div class="slider__item">
		<div class="events__line"><div class="dot"></div></div>
		<!-- BEGIN events__item -->
		<div class="events__item">
			<div class="events__date">
				<div class="events__month">February 25-27</div>
				<div class="events__year">2016</div>
			</div>
			<div class="events__box"><img class="events__img" src="img/onyxpoint.png" alt="onyxpoint"></div>
			<h4 class="events__title">Mobile World Congress</h4>
			<div class="events__about">Facebook launches live streaming so you can engage with celebrities</div>
		</div>
		<!-- END events__item -->
	</div>
	<!-- END slider__item -->


	<!-- BEGIN slider__item -->
	<div class="slider__item">
		<div class="events__line"><div class="dot"></div></div>
		<!-- BEGIN events__item -->
		<div class="events__item">
			<div class="events__date">
				<div class="events__month">February 25-27</div>
				<div class="events__year">2016</div>
			</div>
			<div class="events__box"><img class="events__img" src="img/habit.png" alt="habit"></div>
			<h4 class="events__title">Mobile World Congress</h4>
			<div class="events__about">Facebook launches live streaming so you can engage with celebrities</div>
		</div>
		<!-- END events__item -->
	</div>
	<!-- END slider__item -->


	<!-- BEGIN slider__item -->
	<div class="slider__item">
		<div class="events__line"><div class="dot"></div></div>
		<!-- BEGIN events__item -->
		<div class="events__item">
			<div class="events__date">
				<div class="events__month">February 25-27</div>
				<div class="events__year">2016</div>
			</div>
			<div class="events__box"><img class="events__img" src="img/etrail.png" alt="etrail"></div>
			<h4 class="events__title">Mobile World Congress</h4>
			<div class="events__about">Facebook launches live streaming so you can engage with celebrities</div>
		</div>
		<!-- END events__item -->
	</div>
	<!-- END slider__item -->


	<!-- BEGIN slider__item -->
	<div class="slider__item">
		<div class="events__line"><div class="dot"></div></div>
		<!-- BEGIN events__item -->
		<div class="events__item">
			<div class="events__date">
				<div class="events__month">February 25-27</div>
				<div class="events__year">2016</div>
			</div>
			<div class="events__box"><img class="events__img" src="img/onyxpoint.png" alt="onyxpoint"></div>
			<h4 class="events__title">Mobile World Congress</h4>
			<div class="events__about">Facebook launches live streaming so you can engage with celebrities</div>
		</div>
		<!-- END events__item -->
	</div>
	<!-- END slider__item -->


	<!-- BEGIN slider__item -->
	<div class="slider__item">
		<div class="events__line"><div class="dot"></div></div>
		<!-- BEGIN events__item -->
		<div class="events__item">
			<div class="events__date">
				<div class="events__month">February 25-27</div>
				<div class="events__year">2016</div>
			</div>
			<div class="events__box"><img class="events__img" src="img/habit.png" alt="habit"></div>
			<h4 class="events__title">Mobile World Congress</h4>
			<div class="events__about">Facebook launches live streaming so you can engage with celebrities</div>
		</div>
		<!-- END events__item -->
	</div>
	<!-- END slider__item -->

</div>
<!-- END slider -->