<!-- BEGIN global -->
<div class="global">
	<h2 class="global__title">KingPing global market</h2>
	<p class="global__text">Kingping is a global performance marketing network delivering worldwide quality traffic on a large scale. We generate millions of clicks from our publishers that are converted to thousands of actions for our advertisers.
	Our team of experienced marketing and technical specialists understands exactly how to increase retention rates for mobile app developers and how to maximize the potential of a publisher.</p>
	<!-- BEGIN global__company -->
	<div class="global__company">
		<a href="#" class="company company1"><img src="../img/kingping.png" alt="Kingping" class="company__logo"></a>
		<a href="#" class="company company2"><img src="../img/kronet_ads.png" alt="KRONET ADS" class="company__logo"></a>
		<a href="#" class="company company3"><img src="../img/convertlab.png" alt="CONVERTLAB" class="company__logo"></a>
		<a href="#" class="company company4"><img src="../img/mobinizer.png" alt="Mobinizer" class="company__logo"></a>
		<a href="#" class="company company5"><img src="../img/mobiheads.png" alt="MobiHeads" class="company__logo"></a>
		<a href="#" class="company company6"><img src="/img/ChinaTag.png" alt="ChinaTag" class="company__logo"></a>
	</div>
	<!-- END global__company -->
	<!-- BEGIN global__start -->
	<div class="global__start start">
		<div class="start__text"><span>Kingping</span> is a global performance marketing network delivering worldwide quality traffic on a large scale. </div>
		<button class="button">get started!</button>
	</div>
	<!-- END global__start -->
</div>
<!-- END global -->