<header class="header">
	<!-- BEGIN header__logo logo -->
	<div class="header__logo">
		<a href="#" class="logo"><img class="logo__img" src="img/logo.png" alt="logo">Kingping</a> 
	</div>
	<!-- END header__logo logo -->

	<button type="button" class="menu__button">
		<span class="burger"></span>
		<span class="burger"></span>
		<span class="burger"></span>
	</button>
		<!-- BEGIN menu -->
	<div class="menu" id="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="#about-us" class="menu__link">About us</a></li>
			<li class="menu__item"><a href="#publishers" class="menu__link">Publishers</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Advertisers</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Services</a></li>
			<li class="menu__item"><a href="#events" class="menu__link">Events</a></li>
			<li class="menu__item"><a href="#contacts" class="menu__link">Contacts</a></li>
		</ul>
	</div>
	<!-- END menu -->
	<!-- BEGIN header__lang lang -->
	<div class="header__lang lang">
			<a href="#" class="lang__link is-active">en</a>
			<a href="#" class="lang__link">ru</a>
	</div>
	<!-- END header__lang lang -->

</header>
