<header class="header">
	<!-- BEGIN header__logo logo -->
	<div class="header__logo">
		<a href="#" class="logo">Kingping</a> 
	</div>
	<!-- END header__logo logo -->
	<button type="button" class="menu__button">
		<span class="burger"></span>
		<span class="burger"></span>
		<span class="burger"></span>
	</button>
	<!-- BEGIN header__lang lang -->
	<div class="header__lang lang">
		<div class="lang__item">
			<a href="#" class="lang__link is-active">en</a>
		</div>
		<div class="lang__item">
			<a href="#" class="lang__link">ru</a>
		</div>
	</div>
	<!-- END header__lang lang -->

</header>
