.icon-heart {
  width: 1.14em;
  height: 1em;
  fill: none;
}
.icon-ierg {
  width: 1.1em;
  height: 1em;
  fill: #fff;
}
.icon-like {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 1.13em;
  height: 1em;
  fill: none;
}
