.icon-heart {
  width: 2.5em;
  height: 2.5em;
  fill: none;
  stroke: #a1adb7;
  stroke-width: 1px;
}
.icon-ierg {
  width: 1.1em;
  height: 1em;
  fill: #fff;
}
.icon-like {
  width: 2.5em;
  height: 2.5em;
  fill: #afbe96;
}
.icon-star {
  width: 2.5em;
  height: 2.5em;
  fill: none;
  stroke: #f6a79f;
  stroke-width: 0.1em;
}
