$icons: (0:0)
$icons: map-merge($icons,('adrotator': (X: 0px, Y:-301px, W: 369px, H: 247px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('cpi-cpc': (X: 0px, Y:0px, W: 466px, H: 291px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('email': (X: -1045px, Y:-148px, W: 34px, H: 34px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('etrail': (X: -909px, Y:0px, W: 170px, H: 138px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -992px, Y:-207px, W: 10px, H: 19px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -909px, Y:-283px, W: 20px, H: 38px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('features_header': (X: -992px, Y:-148px, W: 43px, H: 49px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('habit': (X: -653px, Y:-558px, W: 182px, H: 146px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart': (X: -1043px, Y:-239px, W: 33px, H: 29px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('like': (X: -999px, Y:-239px, W: 34px, H: 32px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('linked-in': (X: -909px, Y:-239px, W: 34px, H: 34px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logo-m': (X: -909px, Y:-148px, W: 73px, H: 81px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('offer-checker': (X: -476px, Y:0px, W: 423px, H: 223px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('onyxpoint': (X: -435px, Y:-558px, W: 208px, H: 166px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('smart-tds': (X: -379px, Y:-301px, W: 423px, H: 206px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('source-tracking': (X: 0px, Y:-558px, W: 425px, H: 201px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('star': (X: -953px, Y:-239px, W: 36px, H: 32px, TW: 1079px, TH: 759px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-adrotator
//  width: 369px
//  height: 247px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -301px
//
//.icon-cpi-cpc
//  width: 466px
//  height: 291px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-email
//  width: 34px
//  height: 34px
//  background-image: url('../img/sprite.png')
//  background-position: -1045px -148px
//
//.icon-etrail
//  width: 170px
//  height: 138px
//  background-image: url('../img/sprite.png')
//  background-position: -909px 0px
//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -992px -207px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -909px -283px
//
//.icon-features_header
//  width: 43px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -992px -148px
//
//.icon-habit
//  width: 182px
//  height: 146px
//  background-image: url('../img/sprite.png')
//  background-position: -653px -558px
//
//.icon-heart
//  width: 33px
//  height: 29px
//  background-image: url('../img/sprite.png')
//  background-position: -1043px -239px
//
//.icon-like
//  width: 34px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -999px -239px
//
//.icon-linked-in
//  width: 34px
//  height: 34px
//  background-image: url('../img/sprite.png')
//  background-position: -909px -239px
//
//.icon-logo-m
//  width: 73px
//  height: 81px
//  background-image: url('../img/sprite.png')
//  background-position: -909px -148px
//
//.icon-offer-checker
//  width: 423px
//  height: 223px
//  background-image: url('../img/sprite.png')
//  background-position: -476px 0px
//
//.icon-onyxpoint
//  width: 208px
//  height: 166px
//  background-image: url('../img/sprite.png')
//  background-position: -435px -558px
//
//.icon-smart-tds
//  width: 423px
//  height: 206px
//  background-image: url('../img/sprite.png')
//  background-position: -379px -301px
//
//.icon-source-tracking
//  width: 425px
//  height: 201px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -558px
//
//.icon-star
//  width: 36px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -953px -239px
//