.icon-heart {
  width: 2.28em;
  height: 2em;
  fill: none;
  stroke: #a1adb7;
  stroke-width: 1px;
  stroke-max-width: 1px;
  
}
.icon-ierg {
  width: 2.2em;
  height: 1em;
  fill: #fff;
}
.icon-like {
  width: 2.06em;
  height: 2em;
  fill: none;
  stroke: #afbe96;
}
.icon-star {
  width: 2.26em;
  height: 2em;
  fill: none;
  stroke: #f6a79f;
}
