$icons: (0:0)
$icons: map-merge($icons,('email': (X: -180px, Y:-267px, W: 34px, H: 34px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('etrail': (X: 0px, Y:-176px, W: 170px, H: 138px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -263px, Y:-176px, W: 43px, H: 44px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('habit': (X: -218px, Y:0px, W: 182px, H: 146px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart': (X: -358px, Y:-267px, W: 33px, H: 29px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('like': (X: -314px, Y:-267px, W: 34px, H: 32px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('link-in': (X: -316px, Y:-176px, W: 43px, H: 44px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('linked-in': (X: -224px, Y:-267px, W: 34px, H: 34px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logo-m': (X: -180px, Y:-176px, W: 73px, H: 81px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('onyxpoint': (X: 0px, Y:0px, W: 208px, H: 166px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('star': (X: -268px, Y:-267px, W: 36px, H: 32px, TW: 400px, TH: 314px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-email
//  width: 34px
//  height: 34px
//  background-image: url('../img/sprite.png')
//  background-position: -180px -267px
//
//.icon-etrail
//  width: 170px
//  height: 138px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -176px
//
//.icon-facebook
//  width: 43px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -263px -176px
//
//.icon-habit
//  width: 182px
//  height: 146px
//  background-image: url('../img/sprite.png')
//  background-position: -218px 0px
//
//.icon-heart
//  width: 33px
//  height: 29px
//  background-image: url('../img/sprite.png')
//  background-position: -358px -267px
//
//.icon-like
//  width: 34px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -314px -267px
//
//.icon-link-in
//  width: 43px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -316px -176px
//
//.icon-linked-in
//  width: 34px
//  height: 34px
//  background-image: url('../img/sprite.png')
//  background-position: -224px -267px
//
//.icon-logo-m
//  width: 73px
//  height: 81px
//  background-image: url('../img/sprite.png')
//  background-position: -180px -176px
//
//.icon-onyxpoint
//  width: 208px
//  height: 166px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-star
//  width: 36px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -268px -267px
//